@charset "UTF-8";	
	/* CSS Para sistema contable netwarcont version 1.0 */
	/* Por Ivan Cuenca y Miguel Velazco 13 de Septiembre 2013*/
	/* Para los jquery UI se usa SMOOTHNESS */
	
	body{
		font-family:Arial, Helvetica, sans-serif;/*Fuente de la pagina-------------------*/
		font-size:12px;/*Tamaño de fuente-------------------*/
	}
	
    footer{
		clear: both;
		position: relative;
		height: 10%;
		width: 103%;
		margin: 0;
		bottom: -8px;
		left: -2%;
	}

.lateral{   /*Color de fondo de los divs-------------------*/
    float:left;
    background-color:#EEEEEE;/*color gris claro-------------------*/
    width:806px;

}



table td{
    font-size:12px;
}

[id='buttons']{
    width:800px;
    float:left;
    margin-top:20px;
    text-align:right;
}

.ui-widget-header/*titulo de pop up UI-------------------*/
{
    background-color: #4c4c4c !important;
    background-image:none;
    color:white;
    border:0px;
}

#capturaMovimiento,#Proveedores,#ProveedoresLista/*fondo de pop up de captura-------------------*/
{
    display:none;
    background-color:#EEEEEE;
    width:500px;
    height:500px;
    border:1px solid #CCC;
}
.captura td
{
    width:265px;
    height:30px;
}

#lista td
{
    width:100px;
    height:30px;
}
.captura2 td
{
    width:350px;
    height:30px;
}

.over{
    background-color:#c0d459 !important;
    color:#FFF;
}
.out{
    background-color:;
    color:;
}

#aux{
    width:100%;
    height:35%;
    border:0px solid red;
    position: relative;
}
a.bot
{
    text-decoration: none;
    font-weight: bold;
    color:black;
}
a.bot:hover
{
    text-decoration: underline;
    color:white;
}


/**********/
.repTitulo{
    background: #f5f5f5;
    text-align: center;
    margin: 5px 0px 10px 0px;
    padding: 6px 0px 6px 0px;
    color: #353535;
    text-shadow: 0px 1px 0px #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px #98ac31 solid;
    box-shadow: 0px 1px 0px #c0d459;
}

.per{
    font-size:13px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 320px;
    background-color: #c0d459;
}


 .per ul { list-style: none; margin: 0; padding: 0; }
 .per li {  margin-top: 2px;
        padding: 10px; 
        background-color: #f5f7f0;
        min-height: 43px;
    }
  
 #info label { 
    width: 40%; 
    margin-right: 10px; 
    text-align: right; 
  }

  .per2 {
    font-size:13px;
    width:70%;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    background-color: #c0d459;
  }

  .per2left{
    width:49%;
    float:left;

  }

  .per2right{
    width:49%;
    float:right;

  }
   input {
        
        border-radius: 5px;
        border: 1.5px solid #BDBDBD;
        
     }
     
     
     
     .icon-refresh-animate {
	animation-name: rotateThis;
	animation-duration: .5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes rotateThis {
	from { transform: scale( 1 ) rotate( 0deg );   }
	to   { transform: scale( 1 ) rotate( 360deg ); }
}

